{% extends 'base.html' %}
{% block content %}
	<!-- Header -->
    <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="intro-message">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="/eating-out" class="btn btn-default btn-lg"><i class="fa fa-cutlery fa-fw"></i> <span class="network-name">Eating out?</span></a>
                            </li>
                        	<li class="footer-menu-divider">&sdot;</li>
                            <li>
                                <a href="/takeout" class="btn btn-default btn-lg"> <span class="network-name">getting take out?</span><i class="fa fa-cutlery fa-fw"></i></a>
                            </li>
                        	<li class="footer-menu-divider">&sdot;</li>
 							<li>
                                <a href="/cooking" class="btn btn-default btn-lg"> <span class="network-name">cooking?</span><i class="fa fa-spoon fa-fw"></i></a>
                            </li>

                        </ul>
                        <hr class="intro-divider">
                        <h3>Going out? ..Take out? ...or are you cooking?</h3>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

{% endblock content%}
